{% extends 'cabecera.html.twig' %}

{% block datosShowMedico %}
    <h1>Mostrando arma del Médico</h1>

    <table>
        <tbody>
            <tr>
                <th>Arma</th>
                <td>{{ armasMedico.arma }}</td>
            </tr>
            <tr>
                <th>Dmg</th>
                <td>{{ armasMedico.dmg }}</td>
            </tr>
            <tr>
                <th>Cargador</th>
                <td>{{ armasMedico.cargador }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ armasMedico.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('armasmedico_index') }}">Volver a la lista de armas del Médico</a>
        </li>
        <li>
            <a href="{{ path('armasmedico_edit', { 'id': armasMedico.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
